Pozdravljeni,

<br>

<p>Čestitam! Vaši popravki za klub <%= link_to @klub.name, @klub.spa_url %> so bili sprejeti!</p>

<p>Shranjeni podatki so: </p>

<%= render partial: 'klub_attributes', locals: { klub: @klub } %>

<p>Če želite popraviti še kateri podatek za ta klub, lahko to storite na <%= link_to "tej povezavi", @klub.spa_edit_url %>.</p>

<p>Še enkrat najlepša hvala za popravke ✌(-‿-)✌!</p>

<p>
  <small>Niste vi poslali zgornje popravke na klubi.si? Če tega niste storili vi, se vam opravičujem. Nekdo je na spletni strani vnesel vaš e-poštni naslov.</small>
</p>

Lep pozdrav, <br>
<%= render partial: 'shared/default_email_signature' %>
