<p>Pozdravljeni,</p>

<p>
  Rad bi se vam zahvalil za dodani klub <em><%= @klub.name %></em>. Klub si lahko ogledate <%= link_to @klub.spa_url do %> s klikom na to povezavo<% end %>.
</p>

<p>
  Poslane podatke bomo ročno pregledali in potrdili, kar lahko traja nekaj dni. Ko se postopek preverjanja zaključi, se bo klub prikazal tudi na interaktivnem zemljevidu in seznamu klubov na <%= link_to 'www.klubi.si', Rails.application.credentials.WEBSITE_FULL_HOST %>.
</p>

<p>Še enkrat najlepša hvala za novi klub ✌(-‿-)✌!</p>

Lep pozdrav, <br>
<%= render partial: 'shared/default_email_signature' %>
