<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi Pedro</p>
    <p>
      Someone has submitted a new klub,
    </p>
    <p>
      Here are the details: <br>
      <br>
      Klub:
      <pre><%= @klub_data %></pre>
    </p>
    <p>Review this promptly to add it to the site!</p>
    <br>
    <p>Cheers,</p>
    <p>Peter from zatresi.si</p>
  </body>
</html>
