<p>Hi Pedro</p>
<p>
  <%= @editor_mail =%> has updated the klub '<%= link_to @klub_name, admin_klub_url(@klub) %>'
</p>
<p>Review this promptly to add it to the site!</p>
<p>Cheers,</p>
<%= render partial: 'shared/default_email_signature' %>
