<p>Hi Pedro</p>
<p>
  Someone has submitted a new klub with id <%= @klub.id %>,
</p>
<p>
  Here are the details: <br>
  <br>
  Klub:
  <pre><%= @klub_data %></pre>
</p>
<p>Visit <%= link_to "the klub's admin page", admin_klub_url(@klub) %> to review it and add it to the site!</p>
<br>
<p>Cheers,</p>
<%= render partial: 'shared/default_email_signature' %>
